
<h1>
    Hesap Onayı Bilgilendirme Sayfası
</h1>
<div class="col-12 mx-auto">
    <a class="btn btn-success p-3 mx-auto btn-grid" href="/Account/Login">
        Beni login sayfasına yönlendir.
    </a>

</div>




