html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Checkbox kutular?n?n genel stili */
input[type="checkbox"] {
    accent-color: darkolivegreen;
}

    /* Checkbox kutusu seçildi?inde */
    input[type="checkbox"]:checked {
        accent-color: darkred;
    }

/* Checkbox etiketlerinin stili */
.box-role {
    color: darkolivegreen;
}
